
.heading
{
width: 100%;
text-align: left;
}
.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

#start ,#status, #restart
{
font-size: 22px;
}

.modal-dialog
{
    width: 70%;
}
.modal-body
{
    text-align: left;
    font-size: 20px;
}
h4
{
   background-color: grey;
   color:white;
   line-height: 2;
}
canvas 
  {
    margin-top: 20px;
    border-radius: 20px;
    border-top: 20px ridge skyblue;
    border-right: 20px ridge dodgerblue;
    border-bottom: 20px ridge blue ;
    border-left: 20px ridge midnightblue ;
  }

  .copy_right_footer {
    color: azure;
    width: 100%;
    bottom: 0;
    position: fixed;
    line-height: 3;
    text-align: center;
    background-color: rgb(255, 0, 128);
}

.copy_right_footer a {
    color: floralwhite;
}
